{% extends '@App/layout.html.twig' %}

{% block title %}
    Products
{% endblock %}

{% block body %}
    <div class="alert alert-info">
        <h1 class="text-center">Список художественных произведений :</h1>
        {% for product in products %}
            <div class="m-5">
                <h2>{{ product.getTitle() }}</h2>
                <h4>{{ product.getDescription() }}</h4>
                <a href="{{ path('product_item',{id: product.id}) }}">id художественного произведения: {{ product.id }}</a> <br>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}