{% extends '@App/layout.html.twig' %}

{% block title %}
    Product
{% endblock %}

{% block body %}
    <h1>{{ product.getTitle() }}</h1>
    <h3>{{ product.getDescription() }}</h3>
    <p>{{ product.getCategory.getName() }}</p>
{% endblock %}

{% block stylesheets %}

{% endblock %}