{% extends '@App/layout.html.twig' %}

{% block title %}
    Product
{% endblock %}

{% block body %}
    <div class="m-5 alert alert-primary">
        <h1>{{ product.getTitle() }}</h1>
        <h4>{{ product.getDescription() }}</h4>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}